    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    
    html,
    body {
        height: 100%;
    }
    
    body {
        padding-bottom: 40px;
        color: #5a5a5a;
    }

    .nav {
      width:100%;
      padding-left:0px !important;
    }

    .nav li {
      display:inline-block;
      width:20%;
      padding:0;
    }

    .nav a {
      text-align: center;
    }

    .nav .navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    left: inherit;
    text-align: center;
    margin-right: 0;
    width: 100%;
    padding-bottom: 0 !important;
    vertical-align: bottom;
    height:1em;
    margin-top:10px !important;
    }

    
    @media screen and (min-width:768px) {

       .mobilelogo {
        display: none;
        }
        .navbar-brand-centered {
            position: absolute;
            left: 50%;
            display: block;
            width: 160px;
            text-align: center;
        }
        .navbar>.container .navbar-brand-centered,
        .navbar>.container-fluid .navbar-brand-centered {
            /*margin-left: -80px;*/
        }
        nav.navbar.navbar-default {
            background-color: black;
            border-color: #e7e7e7;
            position: relative;
            height: 65px;
            margin: 0;
            border: 1px solid transparent;
        }
        .navbar-brand.navbar-brand-centered {
            background-color: black;
            font-size: 40px;
            font-family: serif;
            color: white;
            border-bottom: solid 2px white;
        }
        ul.nav.navbar-nav {
            float: left;
            padding-top: 5px;
            margin: 0;
            font-size: 18px;
        }
        ul.nav.navbar-nav.navbar-right {
            padding-right: 240px;
            padding-top: 5px;
            margin: 0;
        }
        .navbar-default .navbar-nav > li > a {
            color: white;
        }
        .navbar-nav .navbar-right {
            margin: 0;
            padding-right: 95px;
            padding-left: 0;
        }
    }
    
    @media screen and (max-width:768px) {
      /*
        .navbar-brand-centered {
            position: absolute;
            left: 37%;
            display: block;
            text-align: center;
        }
        nav.navbar.navbar-default {
            background-color: black;
            border-color: #e7e7e7;
            position: relative;
            height: 65px;
            margin: 0;
            border: 1px solid transparent;
        }
        .navbar-brand.navbar-brand-centered {
            background-color: black;
            font-size: 36px;
            font-family: serif;
            color: white;
            border-bottom: solid 2px white;
        } */

         nav.navbar.navbar-default {
    background-color: black;
    border-bottom: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
    border-top: none;
    position: relative;
    height: 55px;
    margin: 0;
}
        }

        .mobilelogo {
        font-size: 36px;
        font-family: serif;
        color: white;
        border-bottom: solid 1px white;
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 0px;
            left: 15%;
            z-index: 100;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: center;
            text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
            font-size: 13px;
        }
        .carousel-inner {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 100%;
        }
        #myCarousel {
            height: 100%;
            margin-bottom: 60px;
            background-color: #292e37;
        }
        .carousel.item.active {
            height: 100%;
            background-color: #777;
        }
        .carousel-caption h1 {
            margin: 0;
        }
        ol.carousel-indicators {
            display: none;
        }
    }
    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
    /* Carousel base class */
    
    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }

            #myCarousel {
            height: 500px;
            margin-bottom: 50px;
            background-color: #292e37;
        }
    /* Since positioning the image, we need to help out the caption */
    
    .carousel-caption {
        z-index: 10;
        bottom: -18px;
    }
    /* Declare heights because of positioning of img element */
    
    .carousel .item {
        height: 500px;
        background-color: #292e37;
    }
    
    .carousel-inner > .item > img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 375px;
        padding-top: 15px;
    }
    
    .carousel-inner .item .second-slide {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 215px;
        padding-top: 15px;
    }
    
    .carousel-inner .item .third-slide {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        padding-top: 15px;
        border-radius: 50px;
    }
    
    ol.carousel-indicators {
        bottom: 0px;
    }
    /* MARKETING CONTENT
-------------------------------------------------- */
    /* Center align the text within the three columns below the carousel */
    
    .marketing .col-lg-4 {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .marketing h2 {
        font-weight: normal;
    }
    
    .marketing .col-lg-4 p {
        margin-right: 10px;
        margin-left: 10px;
    }
    /* Featurettes
------------------------- */
    
    .featurette-divider {
        margin: 80px 0;
        /* Space out the Bootstrap <hr> more */
    }
    /* Thin out the marketing headings */
    
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }
    
    img.featurette-image.img-responsive.center-block {
        height: 400px;
        border-radius: 10px;
    }
    /* RESPONSIVE CSS
-------------------------------------------------- */
    
    @media (min-width: 769px) {
        /* Navbar positioning foo */
        .navbar-wrapper {
            margin-top: 20px;
        }
        .navbar-wrapper .container {
            padding-right: 15px;
            padding-left: 15px;
            height: 65px;
        }
        .navbar-wrapper .navbar {
            padding-right: 0;
            padding-left: 0;
        }
        .navbar-nav {
            font-size: 18px;
            padding-left: 175px;
        }
        #activeLink {
            color: #fff;
        }
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
        }
        .carousel-caption h1 {
            margin: 10px;
        }
        .featurette-heading {
            font-size: 50px;
        }
    }
    
    @media (min-width: 992px) {
        .featurette-heading {
            margin-top: 120px;
        }
    }
    /* Footer CSS */
    
    .full {
        width: 100%;
    }
    
    .gap {
        height: 30px;
        width: 100%;
        clear: both;
        display: block;
    }
    
    .footer {
        background: #EDEFF1;
        height: auto;
        padding-bottom: 30px;
        position: absolute;
        width: 100%;
        left: 0;
        border-top: 1px solid #DDDDDD;
    }
    
    .footer p {
        margin: 0;
    }
    
    .footer img {
        max-width: 100%;
    }
    
    .footer h3 {
        border-bottom: 1px solid #BAC1C8;
        color: #54697E;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        padding: 40px 0 10px;
        text-transform: uppercase;
    }
    
    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #7F8C8D;
    }
    
    .footer ul li a {
        padding: 0 0 5px 0;
        display: block;
    }
    
    .footer a {
        color: #78828D
    }
    
    .supportLi h4 {
        font-size: 20px;
        font-weight: lighter;
        line-height: normal;
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
    
    .newsletter-box input#appendedInputButton {
        background: #FFFFFF;
        display: inline-block;
        float: left;
        height: 30px;
        clear: both;
        width: 100%;
    }
    
    .newsletter-box .btn {
        border: medium none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        height: 40px;
        padding: 0;
        width: 100%;
        color: #fff;
    }
    
    .newsletter-box {
        overflow: hidden;
    }
    
    .bg-gray {
        background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
        box-shadow: 0 1px 0 #B4B3B3;
    }
    
    .social li {
        background: none repeat scroll 0 0 #B5B5B5;
        border: 2px solid #B5B5B5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: left;
        height: 36px;
        line-height: 36px;
        margin: 0 8px 0 0;
        padding: 0;
        text-align: center;
        width: 36px;
        transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }
    
    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }
    
    .social li a {
        color: #EDEFF1;
    }
    
    .social li:hover {
        border: 2px solid #2c3e50;
        background: #2c3e50;
    }
    
    .social li a i {
        font-size: 16px;
        margin: 0 0 0 5px;
        color: #EDEFF1 !important;
    }
    
    .footer-bottom {
        background: #E3E3E3;
        border-top: 1px solid #DDDDDD;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .footer-bottom p.pull-left {
        padding-top: 6px;
    }
    
    .footer-bottom p.pull-left {
        color: #444444;
    }
    
    .payments {
        font-size: 1.5em;
    }
